# Dependencies
node_modules/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Builds
build/
dist/
coverage/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Secrets
*.pem
*.key
